<!-- <div
  class="party-element-tracker"
  [class.open]="panelOpen"
  [class.closed]="!panelOpen"
>
  <div class="element-tracker-topbar">
    <app-button class="controls" (click)="togglePanel()">
      <img src="/assets/elements/wildcard.png" /> <span>Elements</span>
    </app-button>
    <div class="flex-div"></div>
    <div class="game-controls">
      <app-button (click)="nextTurn()" [disabled]="disableNextTurn">
        Next Turn
      </app-button>
    </div>
  </div>
  <!-- TODO: ngIf panelOpen 
  <div class="element-controls">
    <!-- <app-party-element-tracker-cell
      [element]="element"
      *ngFor="let element of ALL_ELEMENT_TYPES"
      (changeState)="onSetElementState(element, $event)"
    ></app-party-element-tracker-cell> 
  </div>
  <app-element-tracker
    [elementSizePx]="40"
    [elementGapPx]="10"
    direction="horz"
    stateConfig="activeStates"
  ></app-element-tracker>
</div> -->
