.party-element-tracker {
  padding: 10px 0;
  width: 100%;
}

.element-tracker-topbar {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}

.controls {
  margin-right: 10px;
  .elements-text {
    font-family: "Pirata One";
    font-size: 18pt;
  }
}

.flex-div {
  flex-grow: 1;
}

.game-controls {
  height: 100%;

  button {
    height: 100%;
    width: 120px;
  }
}

.element-controls {
  margin-bottom: 10px;
  overflow-y: hidden;
  transition: height 0.3s ease-out;
}

.open .element-controls {
  height: 480px;
}

.closed .element-controls {
  // TODO: Try to figure out how to unfold properly.
  height: 0px;
}
