.card-container {
  // There's some flickering before the image is visible without this.
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 16px;
  padding-top: 66.6%;
  position: relative;
  width: 100%;

  &.empty {
    background-color: #654321;
  }
}

img {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.hide {
  display: none;
}
