<div class="display-wrapper">
  <main role="main" class="container">
    <app-monster-attack-deck-card
      (click)="toggleHistory()"
      [val]="lastCard"
      [flipped]="true"
      id="flippedCard"
    ></app-monster-attack-deck-card>
    <div class="history" *ngIf="historyVisible">
      <app-monster-attack-deck-card
        *ngFor="let card of allFlippedCards"
        [flipped]="true"
        [val]="card"
      ></app-monster-attack-deck-card>
    </div>
    <div class="bottomStack">
      <app-monster-attack-deck-card
        [flipped]="false"
        (click)="drawCard()"
        class="cardDeck"
      ></app-monster-attack-deck-card>

      <div
        class="animateStack"
        #animateStack
        *ngIf="animatingCard"
        [class.flipped]="animatingFlipped"
      >
        <app-monster-attack-deck-card
          [flipped]="false"
          class="animatedCardBack"
        >
        </app-monster-attack-deck-card>

        <app-monster-attack-deck-card
          [flipped]="true"
          [val]="animatingCard"
          class="animatedCardFront"
        >
        </app-monster-attack-deck-card>
      </div>
    </div>
    <div class="controls">
      <app-button (click)="addToDeck(AttackModifier.BLESS)"
        >Add Bless ({{ blessCount }})</app-button
      >
      <app-button (click)="addToDeck(AttackModifier.CURSE)"
        >Add Curse ({{ curseCount }})</app-button
      >
    </div>
  </main>
</div>
