// This must stay in sync with JS too.
$element-size: 70px;

.element-tracker-wrapper {
  height: 100%;
  position: relative;
}

app-element-tracker-cell {
  display: inline-block;
  height: $element-size;
  position: absolute;
  transition: top 0.3s ease-out;
  width: $element-size;
}
