// This must stay in sync with JS too.

@mixin sizeCss($element-size) {
  app-element-tracker-cell {
    height: $element-size;
    width: $element-size;
  }
}

.horz {
  @include sizeCss(40px);
  height: 40px;
  width: 100%;
}

.vert {
  @include sizeCss(70px);
  height: 100%;
}
.element-tracker-wrapper {
  position: relative;
}
.hideInactive {
  app-element-tracker-cell.inactive {
    display: none;
  }
}

app-element-tracker-cell {
  display: inline-block;
  position: absolute;
  transition-property: left, top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
