app-button {
  display: inline-block;
}

.create-monsters {
  margin: 10px 0;
}

.select-enemy {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
}

$select-enemy-height: 60px;

.select-enemy-choice {
  height: $select-enemy-height;
  width: $select-enemy-height;

  img {
    height: 100%;
    width: 100%;
  }

  &.boss img {
    border-radius: 50%;
  }
}

form {
  margin-top: 10px;
}
