@use "sass:color";

.role-header {
  background: url("/assets/backgrounds/class_name_bg.png");
  background-size: cover;
  height: 74px;
  padding: 8px;
}

$header-box-shadow-size: 10px;
@mixin role-color($role-id, $role-name, $role-color) {
  background-color: color.scale($role-color, $lightness: -90%);
  background-blend-mode: screen;

  .role-inner-header {
    box-shadow: 0px 0px $header-box-shadow-size $role-color,
      inset 0px 0px 8px $role-color;
    border: 1px solid color.scale($role-color, $lightness: 80%);
    color: $role-color;
  }

  .role-icon {
    background-color: $role-color;
    mask-image: url("/assets/classes/" + $role-id + ".svg");
  }

  .role-name {
    background-image: linear-gradient(
      180deg,
      color.scale($role-color, $lightness: -30%) 0%,
      color.scale($role-color, $lightness: 40%) 60%,
      white 100%
    );

    &::after {
      content: $role-name;
    }
  }
}

.role-inner-header {
  display: flex;
  border-radius: 2px;
  padding: 4px;

  .role-icon,
  .role-spacer {
    height: 50px;
    width: 50px;
  }

  .role-name {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Pirata One";
    font-size: 24pt;
    align-self: center;
    text-align: center;
    flex-grow: 1;
  }
}

.role-spellweaver {
  @include role-color("spellweaver", "Spellweaver", #ab7fb8);
}

.role-tinkerer {
  @include role-color("tinkerer", "Tinkerer", #cdae91);
}

.role-brute {
  @include role-color("brute", "Brute", #57a6ce);
}

.role-mindthief {
  @include role-color("mindthief", "Mindthief", #8097c7);
}
