.create-monsters {
  color: white;
  margin: 10px 0;
}

.select-enemy {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
}

$select-enemy-height: 60px;

.select-enemy-choice {
  height: $select-enemy-height;
  width: $select-enemy-height;

  app-enemy-image,
  img {
    height: 100%;
    width: 100%;
  }

  &.boss img {
    border-radius: 50%;
  }
}

form {
  margin-top: 10px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

app-party-monster-name {
  display: block;
  margin: 16px 0 8px 0;
}

.monster-counts {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.monster-count {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.monster-count-controls {
  display: flex;
  gap: 8px;

  app-button {
    width: 40px;
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
}

.token-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
}

.elite {
  color: gold;
}
