.monster-cell-wrapper {
  margin: 30px 0;
}

.monster-cell {
  display: flex;
  justify-content: space-around;
}

.flex-space {
  flex-grow: 1;
}

.health-controls-wrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-family: "Nyala";
  font-size: 20pt;
  gap: 8px;
  width: 220px;
}

.health-controls {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;

  img {
    height: 50px;
  }
}

progressbar {
  height: 5px;
  margin-top: 4px;
}

.health-buttons {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}

.monster-active-statuses,
.monster-cancelled-statuses {
  display: flex;
  margin-top: 3px;
}

.monster-cancelled-statuses {
  color: #919191;
  text-decoration: line-through;

  img {
    opacity: 0.5;
  }
}

.monster-statuses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 160px;
  justify-content: space-between;
  margin-top: 16px;
}

.monster-status {
  // 4 per column.
  height: 25%;

  &:not(.active) {
    color: gray;

    .monster-status-icon {
      opacity: 0.5;
    }
  }
}

.monster-status-text {
  align-self: center;
  font-size: 14pt;
  margin-left: 5px;
}

.monster-status-icon {
  height: 32px;
  width: 32px;
}

.edit-controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
  filter: grayscale(100%);
}
