@import "src/app/css/roles.scss";

// create a navbar height variable for 64px.
$navbar-height: 64px;
$navbar-vert-padding: 12px;
$navbar-item-width: 64px;
$navbar-button-contents-height: $navbar-height - $navbar-vert-padding * 2;

.element-tracker {
  padding: 4px 8px;
  position: fixed;
  bottom: $navbar-height;
  width: 100%;
}

.navbar {
  background-color: rgb(47, 0, 0);
  padding: 0;

  display: flex;
  height: $navbar-height;
  justify-content: space-between;
}

.navbar > div {
  padding: $navbar-vert-padding 0;
  display: flex;
  justify-content: center;
  min-width: $navbar-item-width;

  &:not(:first-child) {
    border-left: 1px gray solid;
  }

  img {
    fill: white;
    height: $navbar-button-contents-height;
    max-height: $navbar-button-contents-height;
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.monster-filler {
  flex-grow: 1;
}

.character {
  @include role-css() using ($role-id, $role-color, $role-name) {
    background-color: $role-color;
    mask-image: url("/assets/classes/" + $role-id + ".svg");
  }

  // Offset with a different width because the SVGs are smaller.
  margin: -4px;
  height: $navbar-button-contents-height + 8px;
  width: $navbar-button-contents-height + 8px;
}
