.monster-cell-wrapper {
  font-size: 18pt;
  margin: 30px 0;
}

.monster-cell {
  display: flex;
}

.monster-id {
  display: flex;
  align-items: center;
  margin-right: 10px;

  img {
    height: 60px;
    margin-right: 4px;
    width: 60px;
  }

  .monster-token {
    font-size: 30pt;
    font-weight: bold;
  }
}

.monster-active-statuses {
  display: flex;
  margin-top: 3px;
}

.monster-status-text {
  align-self: center;
  font-size: 14pt;
  margin-left: 5px;
}

.monster-status {
  margin: 8px;
  &:not(.active) .monster-status-icon {
    opacity: 0.5;
  }
}

.monster-status-icon {
  height: 32px;
  width: 32px;
}

.elite .monster-id {
  color: gold;
}
