@use "sass:math";

@import "src/app/css/roles.scss";

// create a navbar height variable for 64px.
$main-navbar-height: 64px;
$sub-navbar-height: 64px;
$total-navbar-height: $main-navbar-height + $sub-navbar-height;

$main-vert-padding: 12px;
$main-contents-height: $main-navbar-height - $main-vert-padding * 2;
$main-item-width: 96px;

$sub-vert-padding: 8px;
$sub-contents-height: $sub-navbar-height - $sub-vert-padding * 2;
$sub-contents-width: $sub-contents-height;

$navbar-item-border: 1px gray solid;
$sub-navbar-color: #1d0e0e;

$gloomhaven-gold: goldenrod;

.element-tracker {
  padding: 4px 8px;
  position: fixed;
  bottom: $main-navbar-height;
  transition: bottom 0.2s ease-in-out;
  width: 100%;

  // Put the elements above the navbar's shadow.
  z-index: 200;
  // Pass clicks through to the underlying elements.
  pointer-events: none;
}

.subbar-visible {
  .element-tracker {
    bottom: $total-navbar-height;
  }

  .sub-navbar {
    // border-bottom: $navbar-item-border;
    height: $sub-navbar-height;
  }

  .navbar {
    box-shadow: 0px -32px 48px 0px rgb(15, 15, 15, 1);
  }
}

.navbar {
  background-color: rgb(47, 0, 0);
  box-shadow: 0px -32px 48px 0px rgb(27, 0, 0, 1);
  padding: 0;
}

.main-navbar,
.sub-navbar {
  display: flex;
  height: $main-navbar-height;
  width: 100%;
}

.main-navbar {
  background: url("/assets/backgrounds/card_bg.jpg");
  display: flex;
  justify-content: space-around;
}

.sub-navbar {
  background-color: $sub-navbar-color;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s ease-in-out;

  .monster-selectors {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    flex-grow: 1;
    overflow-x: auto;
  }

  .add-monsters {
    color: $gloomhaven-gold;
    font-family: "Pirata One";
    font-size: 50pt;
    flex-shrink: 0;

    &.nav-item {
      // Match nav width.
      width: 64px;
    }
    border: 2px rgb(73, 55, 11) outset;

    // Fix weird Pirata spacing to vertically align.
    .add-monsters-text {
      margin-top: -4px;
    }

    display: flex;
    align-items: center;
  }
}

.main-navbar .nav-item,
.sub-navbar .nav-item {
  display: flex;
  justify-content: center;

  img,
  app-enemy-image {
    fill: white;
    object-fit: contain;
  }
}

.main-navbar .nav-item {
  padding: $main-vert-padding 0;
  min-width: $main-item-width;

  // &:not(:first-child) {
  // border-left: $navbar-item-border;
  // }

  img,
  app-enemy-image {
    height: $main-contents-height;
    max-height: $main-contents-height;
  }
}

.sub-navbar .nav-item {
  padding: $sub-vert-padding 0;

  img,
  app-enemy-image {
    height: $sub-contents-height;
    max-height: $sub-contents-height;
    width: $sub-contents-width;
  }

  &.selected {
    position: relative;
    &::after {
      border-bottom: 2px white solid;
      content: "";
      position: absolute;
      right: 0;
      bottom: 1px;
      left: 15%;
      height: 2px;
      width: 70%;
    }
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.monster-filler {
  flex-grow: 1;
}

.character {
  @include role-css() using ($role-id, $role-color, $role-name) {
    background-color: $role-color;
    mask-image: url("/assets/classes/" + $role-id + ".svg");
  }

  // Offset with a different width because the SVGs are smaller.
  margin: -4px;
  height: $main-contents-height + 8px;
  width: $main-contents-height + 8px;
}

.character-item-wrapper {
  position: relative;
}

.character-status-effects {
  pointer-events: none;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    width: 24px;
    height: 24px;
  }
}

.menu {
  color: gray;
  font-size: 20pt;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $main-contents-height;
    width: $main-contents-height;

    mat-icon {
      font-size: 30px;
      // Negative offset because the menu icon has a top padding.
      margin-top: -6px;
      margin-left: -3px;
    }
  }
}
