<div class="monster-cell-wrapper" [class.elite]="monster && monster.isElite()">
  <div class="monster-cell">
    <app-party-monster-token
      [dbClassId]="enemy.dbClassId"
      [tokenNum]="enemy.tokenNum"
      [isBoss]="enemy.isBoss()"
      [isElite]="monster && monster.isElite()"
      (click)="toggleStatusesVisible()"
    ></app-party-monster-token>
    <div class="health-controls-wrapper">
      <div class="health-controls">
        <img src="/assets/icons/minus_1.png" (click)="changeHealth(-1)" />
        <div class="health-display flex-space">
          {{ localHealth !== undefined ? localHealth : enemy.getHealth() }} /
          {{ enemy.getMaxHealth() }}
        </div>
        <img
          src="/assets/icons/plus_1.png"
          (click)="!healBlockedByStatus && changeHealth(1)"
          [class.disabled]="healBlockedByStatus"
        />
      </div>
      <progressbar
        [animate]="true"
        [value]="localHealth !== undefined ? localHealth : enemy.getHealth()"
        [max]="enemy.getMaxHealth()"
        type="danger"
      >
      </progressbar>
      <div class="health-buttons" *ngIf="localHealth !== undefined">
        <app-button
          (click)="setLocalHealth(0)"
          *ngIf="localHealth !== 0; else cancel"
          >Kill</app-button
        >
        <ng-template #cancel>
          <app-button (click)="setLocalHealth(undefined)">Cancel</app-button>
        </ng-template>
        <app-button (click)="applyLocalHealth()">{{
          localHealthDeltaStr()
        }}</app-button>
      </div>
    </div>
  </div>
  <div class="monster-dropdown" *ngIf="dropdownVisible">
    <div class="monster-statuses">
      <div
        class="monster-status"
        *ngFor="let status of allStatuses"
        [class.active]="enemy.hasStatus(status)"
        (click)="toggleStatus(status)"
      >
        <img class="monster-status-icon" src="{{ status.getImgPath() }}" />
        {{ status.displayName }}
      </div>
    </div>
    <div class="edit-controls" *ngIf="!editsVisible">
      <app-button (click)="toggleEditsVisible()" *ngIf="!editsVisible"
        >Edit</app-button
      >
    </div>
    <div class="edit-controls" *ngIf="editsVisible">
      <app-button (click)="changeToken()">Token</app-button>
      <app-button *ngIf="enemy.isMonster()" (click)="toggleElite()"
        >Make {{ monster.isElite() ? "Normal" : "Elite" }}
      </app-button>
      <app-button (click)="changeMaxHealth()">Max HP</app-button>
    </div>
  </div>
  <ng-container *ngIf="!dropdownVisible">
    <div
      class="monster-active-statuses"
      [class.monster-cancelled-statuses]="cancelledStatuses.includes(status)"
      *ngFor="let status of enemy.getStatuses()"
    >
      <!-- There are more efficient ways to do this, but whatever.-->
      <img src="{{ status.getImgPath() }}" class="monster-status-icon" />
      <span class="monster-status-text">{{ status.displayName }}</span>
    </div>
  </ng-container>
</div>
