<div class="monster-cell-wrapper" [class.elite]="monster && monster.isElite()">
  <div class="monster-cell">
    <div class="monster-id" (click)="toggleStatusesVisible()">
      <img
        src="/assets/monsters/Vert-{{ enemy.displayName }}.png"
        *ngIf="!isBoss"
      />
      <img
        src="/assets/bosses/{{ enemy.dbClassId }}.webp"
        *ngIf="isBoss"
        class="boss-img"
      />
      <div class="monster-token">{{ enemy.tokenNum }}</div>
    </div>
    <div class="health-controls-wrapper">
      <div class="health-controls">
        <img src="/assets/icons/minus_1.png" (click)="changeHealth(-1)" />
        <div class="health-display flex-space">
          {{ enemy.getHealth() }} / {{ enemy.getMaxHealth() }}
        </div>
        <img src="/assets/icons/plus_1.png" (click)="changeHealth(1)" />
      </div>
      <progressbar
        [animate]="true"
        [value]="enemy.getHealth()"
        [max]="enemy.getMaxHealth()"
        type="danger"
      >
      </progressbar>
    </div>
  </div>
  <div class="monster-statuses" *ngIf="statusesVisible">
    <div
      class="monster-status"
      *ngFor="let status of allStatuses"
      [class.active]="enemy.hasStatus(status)"
      (click)="toggleStatus(status)"
    >
      <img class="monster-status-icon" src="{{ status.getImgPath() }}" />
      {{ status.displayName }}
    </div>
  </div>
  <div
    class="monster-active-statuses"
    *ngFor="let status of enemy.getStatuses()"
  >
    <img src="{{ status.getImgPath() }}" class="monster-status-icon" />
    <span class="monster-status-text">{{ status.displayName }}</span>
  </div>
</div>
