<div [class.subbar-visible]="enemySubpanelOpen">
  <div class="element-tracker">
    <app-element-tracker
      [elementGapPx]="8"
      direction="horz"
      stateConfig="activeStates"
    ></app-element-tracker>
  </div>
  <div class="navbar">
    <div class="sub-navbar">
      <div class="monster-selectors">
        <div
          [routerLink]="['/party/monsters']"
          class="nav-item all-link"
          (click)="setClassFilter(undefined)"
          [class.selected]="lastSelectedClassId === undefined"
        >
          All
        </div>
        <div
          *ngFor="let classId of enemyClassIds"
          [routerLink]="['/party/monsters', { classIdFilter: classId }]"
          (click)="setClassFilter(classId)"
          class="nav-item"
          [class.selected]="classId === lastSelectedClassId"
        >
          <app-enemy-image [classId]="classId"></app-enemy-image>
        </div>
      </div>
      <div class="add-monsters nav-item" routerLink="/party/monsters/add">
        <div class="add-monsters-text">+</div>
      </div>
    </div>
    <div class="main-navbar">
      <!-- <div class="monster-filler"></div> -->
      <div
        class="elements nav-item"
        routerLink="/party/elements"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="/assets/elements/wildcard.png" />
      </div>
      <div
        class="monsters nav-item"
        (click)="onMonsterNavClick($event)"
        [routerLink]="getLastMonstersRoute()"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="/assets/icons/skull.webp" />
      </div>
      <div
        class="nav-item"
        routerLink="/party/character"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="character {{ party?.members[user?.uid].class }}"></div>
      </div>
      <div
        class="menu nav-item"
        routerLink="/party/menu"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div><mat-icon>menu</mat-icon></div>
      </div>
    </div>
  </div>
</div>
