.party {
  display: flex;
  flex-direction: column;
  height: 100%;

  // No bg color until it's loaded.
  background-color: black;

  &.gamebox-gh,
  &.gamebox-jotl {
    background: url("/assets/backgrounds/wood_texture.webp");
  }

  // TODO: Remove Gloomhaven here.
  &.gamebox-gh,
  &.gamebox-fh {
    background: url("/assets/backgrounds/winter_dark.jpg");
    background-size: cover;
  }
}

.party-main {
  flex-grow: 1;
  // The content takes up the rest of the screen and scrolls.
  // max-height: calc(100vh - 64px);
  // max-height: 50vh;
  overflow-y: auto;

  // Add an extra buffer to every screen to allow extra scrolling over elements.
  padding-bottom: 64px;
}
