<app-button (click)="togglePanel()">Add Monsters</app-button>

<div class="create-monsters" *ngIf="panelVisible" #monsterPanel>
  <div class="select-enemy" *ngIf="scenarioInfo">
    <div
      class="select-enemy-choice"
      *ngFor="let classId of scenarioInfo.monsterIds"
      (click)="selectEnemy(EnemyType.MONSTER, classId)"
    >
      <img src="/assets/monsters/Vert-{{ classId }}.png" />
    </div>
    <div
      class="select-enemy-choice boss"
      *ngFor="let classId of scenarioInfo.bossIds"
      (click)="selectEnemy(EnemyType.BOSS, classId)"
    >
      <img src="/assets/bosses/{{ classId }}.webp" />
    </div>
    <div class="select-enemy-choice" (click)="showFullForm()">
      <img src="/assets/statuses/muddle.png" />
    </div>
  </div>

  <form
    #createForm="ngForm"
    (ngSubmit)="createMonsters()"
    *ngIf="createMonsterData.autocompleteEntry !== undefined"
    autocomplete="off"
  >
    <input
      [(ngModel)]="createMonsterData.enemyDisplayName"
      (typeaheadOnSelect)="onCreateMonsterSelected($event)"
      [typeahead]="allAutocompleteData"
      typeaheadOptionField="title"
      placeholder="Select an enemy"
      name="monsterId"
      class="form-control"
      required
    />
    <input
      [(ngModel)]="createMonsterData.numMonsters"
      type="number"
      name="numMonsters"
      placeholder="How many"
      class="form-control"
      #numMonsters
      required
    />
    <input
      [(ngModel)]="createMonsterData.level"
      type="number"
      name="level"
      placeholder="Level"
      class="form-control"
      required
      [(ngModel)]="createMonsterData.level"
      disabled
    />
    <div class="form-check">
      <!-- TODO: Do this disabling properly. -->
      <input
        type="checkbox"
        [(ngModel)]="createMonsterData.elite"
        [disabled]="createMonsterData?.autocompleteEntry?.enemyType !== 1"
        name="elite"
        class="form-check-input"
        id="createMonsterElite"
      />
      <label class="form-check-label" for="createMonsterElite">Elite</label>
    </div>

    <button type="submit" [disabled]="!createForm.form.valid">
      Create Monsters
    </button>
  </form>
</div>
