.monster-name {
  align-items: center;
  background-image: url("/assets/backgrounds/monster_name_bg.png");
  background-size: cover;
  display: flex;
  font-family: "Pirata One";
  font-size: 18pt;
  justify-content: center;
  height: 40px;
  // Reverse margin to take some of the sides with the arrow backgrounds.
  margin: 10px -8px 0 -8px;

  .monster-name-text {
    margin-top: 5px;
  }
}
