<app-party-header>Monsters</app-party-header>

<div class="monsters-page">
  <app-party-monster-name *ngIf="bossClassList?.length > 0">
    Bosses
  </app-party-monster-name>
  <div class="monster-class" *ngFor="let bossClassId of bossClassList">
    <ng-container *ngFor="let boss of enemiesByClass.get(bossClassId)">
      <party-monster-cell
        [enemy]="boss"
        *ngIf="!boss.isDead()"
      ></party-monster-cell>
    </ng-container>
  </div>

  <div class="monster-class" *ngFor="let monsterClassId of monsterClassList">
    <app-party-monster-name>
      {{ enemiesByClass.get(monsterClassId)[0].displayName }}
    </app-party-monster-name>
    <ng-container *ngFor="let monster of enemiesByClass.get(monsterClassId)">
      <party-monster-cell
        [enemy]="monster"
        *ngIf="!monster.isDead()"
      ></party-monster-cell>
    </ng-container>
  </div>
</div>
