<div
  class="party-element-tracker"
  [class.open]="panelOpen"
  [class.closed]="!panelOpen"
>
  <div class="element-tracker-topbar">
    <div class="controls" (click)="togglePanelOpen()">
      <div class="controls-img">
        <img src="/assets/elements/wildcard.png" />
      </div>
      <span class="elements-text">Elements</span>
    </div>
    <div class="flex-div"></div>
    <div class="game-controls">
      <button (click)="nextTurn()" [disabled]="disableNextTurn">
        Next Turn
      </button>
    </div>
  </div>
  <!-- TODO: ngIf panelOpen -->
  <div class="element-controls">
    <app-party-element-tracker-cell
      [element]="element"
      *ngFor="let element of ALL_ELEMENT_TYPES"
      (changeState)="onSetElementState(element, $event)"
    ></app-party-element-tracker-cell>
  </div>
</div>
