.party-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-party-role-header {
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;

  // Make sure header is above other elements.
  // This has to be here since position is set here.
  z-index: 100;
}

.party-header-margin {
  height: 74px;
}

.party-main {
  background: url("/assets/backgrounds/wood_texture.webp");
  color: white;
  flex-grow: 1;
  height: 100%;
}

.monster-name {
  font-weight: bold;
}

.create-monsters {
  margin-top: 50px;
}

.game-controls {
  margin-top: 200px;
}

.cast-wrapper {
  width: 24px;
}

google-cast-launcher {
  display: inline;
}

app-party-element-tracker {
  display: inline-block;
  margin: 20px 0 10px 0;
  width: 100%;
}
