.monster-cell-wrapper {
  margin: 30px 0;
}

.monster-cell {
  display: flex;
  justify-content: space-around;
}

.boss-img {
  border-radius: 30px;
}

.monster-id {
  display: flex;
  align-items: center;
  margin-right: 10px;

  img {
    height: 60px;
    margin-right: 4px;
    width: 60px;
  }

  .monster-token {
    font-size: 30pt;
    font-weight: bold;
  }
}

.flex-space {
  flex-grow: 1;
}

.health-controls-wrapper {
  align-self: flex-start;
  font-family: "Nyala";
  font-size: 20pt;
  width: 200px;
}

.health-controls {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;

  img {
    height: 50px;
  }
}

progressbar {
  height: 5px;
  margin-top: 4px;
}

.health-confirm {
  background: url("/assets/backgrounds/scroll_bg.jpg");
  background-size: cover;
  color: black;
  font-size: 14pt;
  margin-top: 10px;
  padding: 4px;
  text-align: center;
}

.monster-active-statuses {
  display: flex;
  margin-top: 3px;
}

.monster-status-text {
  align-self: center;
  font-size: 14pt;
  margin-left: 5px;
}

.monster-status {
  margin: 8px;

  &:not(.active) {
    color: gray;

    .monster-status-icon {
      opacity: 0.5;
    }
  }
}

.monster-status-icon {
  height: 32px;
  width: 32px;
}

.elite .monster-id {
  color: gold;
}
