<div class="party-page">
  <div class="party-header-margin"></div>
  <!-- <app-party-role-header></app-party-role-header> -->
  <div class="party-main">
    <main role="main" class="container">
      <!-- <app-party-element-tracker></app-party-element-tracker> -->
      <app-party-monster-tracker></app-party-monster-tracker>
      <hr />
      <!-- <app-party-add-monster></app-party-add-monster> -->
      <div class="game-controls" *ngIf="party">
        <a href="#" (click)="goFullscreen()">Fullscreen</a><br /><br />
        <a routerLink="/admin" *ngIf="isAdmin">Admin panel</a><br />
        <a href="#" (click)="logout()" *ngIf="user"
          >Log out {{ user.displayName }}</a
        >
      </div>
      <!-- <div class="cast-wrapper">
    <google-cast-launcher></google-cast-launcher>
  </div> -->
    </main>
  </div>
</div>
