.party-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.party-main {
  background: url("/assets/backgrounds/wood_texture.webp");
  color: white;
  flex-grow: 1;
  height: 100%;
}

.select-title {
  text-align: center;
  font-family: "Pirata One";
  font-size: 30pt;
  margin: 20px 0;
}

.game-logo {
  padding: 20px 30px 20px 30px;

  &.jotl {
    margin-top: 60px;
  }

  img {
    width: 100%;
  }
}

.select-party {
  margin-bottom: 10px;
}
