<app-party-header>Add Enemies</app-party-header>
<div class="create-monsters" #monsterPanel>
  <div class="select-enemy" *ngIf="scenarioInfo">
    <div
      class="select-enemy-choice"
      *ngFor="let classId of scenarioInfo.monsterIds"
      (click)="selectEnemy(FigureType.MONSTER, classId)"
    >
      <app-enemy-image [classId]="classId"></app-enemy-image>
    </div>
    <div
      class="select-enemy-choice boss"
      *ngFor="let classId of scenarioInfo.bossIds"
      (click)="selectEnemy(FigureType.BOSS, classId)"
    >
      <img src="/assets/monsters/{{ classId }}.webp" />
    </div>
    <app-button class="select-enemy-choice" (click)="showAutocomplete()">
      +
    </app-button>
  </div>

  <input
    [(ngModel)]="createMonsterData.enemyDisplayName"
    (typeaheadOnSelect)="onCreateMonsterSelected($event)"
    [typeahead]="allAutocompleteData"
    typeaheadOptionField="title"
    placeholder="Select an enemy"
    name="monsterId"
    class="form-control"
    *ngIf="autocompleteVisible"
    required
  />

  <div
    class="create-form"
    *ngIf="createMonsterData.autocompleteEntry !== undefined"
  >
    <app-party-monster-name
      >Creating:
      {{ createMonsterData.enemyDisplayName }}</app-party-monster-name
    >

    <div class="monster-counts">
      <div class="monster-count">
        <div class="monster-count-controls">
          <app-button (click)="updateMonsterCount('elite', -1)">-</app-button>
          <h1 class="elite">{{ createMonsterData.numElite }}</h1>
          <app-button (click)="updateMonsterCount('elite', 1)">+</app-button>
        </div>
        <div class="monster-count-desc">Elite</div>
      </div>

      <div class="monster-count">
        <div class="monster-count-controls">
          <app-button (click)="updateMonsterCount('normal', -1)">-</app-button>
          <h1>{{ createMonsterData.numNormal }}</h1>
          <app-button (click)="updateMonsterCount('normal', 1)">+</app-button>
        </div>
        <div class="monster-count-desc">Normal</div>
      </div>
    </div>

    <div class="token-images">
      <app-party-monster-token
        *ngFor="let pending of pendingTokens"
        [classId]="createMonsterData.autocompleteEntry.classId"
        [tokenNum]="pending.tokenNum"
        [isBoss]="
          createMonsterData.autocompleteEntry.figureType == FigureType.BOSS
        "
        [isElite]="pending.elite"
      ></app-party-monster-token>
    </div>

    <app-button (click)="createMonsters()">Create</app-button>
  </div>
</div>
