<div class="monsters-container" #monstersContainer>
  <app-party-header *ngIf="!classIdFilter_">Monsters</app-party-header>

  <div class="monsters-page">
    <app-party-monster-name
      *ngIf="bossClassList?.length > 0 && !classIdFilter_"
    >
      Bosses
    </app-party-monster-name>
    <!-- Weird workaround for bosses. Usually they're grouped, but in this they're separated by class. -->
    <app-party-monster-name
      *ngIf="classIdFilter_ && bossClassList.includes(classIdFilter_)"
    >
      {{ enemiesByClass.get(classIdFilter_)[0].displayName }} (Boss)
    </app-party-monster-name>
    <div class="monster-class" *ngFor="let bossClassId of bossClassList">
      <ng-container *ngIf="!classIdFilter_ || bossClassId === classIdFilter_">
        <ng-container *ngFor="let boss of enemiesByClass.get(bossClassId)">
          <app-party-monster-cell
            [figure]="boss"
            *ngIf="!boss.isDead()"
          ></app-party-monster-cell>
        </ng-container>
      </ng-container>
    </div>

    <div class="monster-class" *ngFor="let monsterClassId of monsterClassList">
      <ng-container
        *ngIf="!classIdFilter_ || monsterClassId === classIdFilter_"
      >
        <app-party-monster-name>
          {{ enemiesByClass.get(monsterClassId)[0].displayName }}
        </app-party-monster-name>
        <ng-container
          *ngFor="let monster of enemiesByClass.get(monsterClassId)"
        >
          <app-party-monster-cell
            [figure]="monster"
            *ngIf="!monster.isDead()"
          ></app-party-monster-cell>
        </ng-container>
      </ng-container>
    </div>

    <app-party-monster-name *ngIf="summons?.length > 0 && !classIdFilter_">
      Summons
    </app-party-monster-name>

    <ng-container *ngFor="let summon of summons">
      <app-party-monster-cell
        [figure]="summon"
        *ngIf="!summon.isDead()"
      ></app-party-monster-cell>
    </ng-container>

    <app-next-turn-button
      (nextTurn)="nextTurnClicked()"
      *ngIf="classIdFilter_"
    ></app-next-turn-button>
  </div>
</div>
