<div class="monster-id" [class.elite]="isElite">
  <!-- I don't remember why this ngIf hack is necessary. What's spe-->
  <img
    src="/assets/monsters/{{ classId }}.webp"
    *ngIf="isBoss && gameBox != GameBox.JAWS_OF_THE_LION; else enemyImage"
    else
    #enemyImage
    class="boss-img"
  />
  <ng-template #enemyImage>
    <app-enemy-image [classId]="classId"></app-enemy-image>
  </ng-template>
  <!-- Show token number for non-bosses and for bosses that aren't #1 in case there are ever be two of the same class.-->
  <div class="monster-token" *ngIf="!isBoss || tokenNum !== 1">
    {{ tokenNum }}
  </div>
</div>
