.boss-img {
  border-radius: 30px;
  margin-right: 16px;
  max-width: 100px;
}

.monster-id {
  display: flex;
  align-items: center;

  app-enemy-image {
    height: 60px;
    margin-right: 16px;
    width: 60px;
  }

  .monster-token {
    font-size: 30pt;
    font-weight: bold;

    &.stringToken {
      font-size: 20pt;
      margin-right: 8px;
    }
  }
}

.elite {
  color: gold;
}
