$status-height: 32px;
$status-spacing: 8px;

.figure-statuses {
  // CSS grid layout can't be used here because we want top->down ordering
  // of individual items and also don't want to specify the number of rows.

  color: white;
  column-count: 2;
  margin-top: 16px;
}

.figure-status {
  height: $status-height;
  margin: 0 0 $status-spacing 30px;

  // Actually centering is hard because of variable text width. This is close enough.
  margin-left: 30px;

  &:not(.active) {
    color: gray;

    .figure-status-icon {
      opacity: 0.5;
    }
  }
}

.figure-status-text {
  align-self: center;
  font-size: 14pt;
  margin-left: 5px;
}

.figure-status-icon {
  height: $status-height;
  width: $status-height;
}
