<main role="main" class="container">
  <div class="display-wrapper gamebox-{{ party?.gamebox }}">
    <div class="name-content" *ngIf="scenarioInfo">
      # {{ scenarioInfo.scenarioNum }} — {{ scenarioInfo.scenarioTitle }}
    </div>
    <img
      src="/assets/icons/jotl.webp"
      class="jotl-icon"
      *ngIf="party?.gamebox === 'jotl'"
    />
    <div class="display-content">
      <div class="row">
        <div class="col" *ngIf="partyCharacters.length > 0">
          <div class="characters-header">Characters</div>
          <monster-cell
            *ngFor="let character of partyCharacters"
            [figure]="character"
          ></monster-cell>
        </div>
        <div class="col" *ngIf="summons.length > 0">
          <div class="characters-header">Summons</div>
          <monster-cell
            *ngFor="let summon of summons"
            [figure]="summon"
          ></monster-cell>
        </div>
        <div class="col" *ngIf="objectives.length > 0">
          <div class="characters-header">Objectives</div>
          <monster-cell
            *ngFor="let objective of objectives"
            [figure]="objective"
          ></monster-cell>
        </div>
        <div class="col" *ngFor="let monsterClassId of monsterClassList">
          <monster-name
            [monster]="enemiesByClass.get(monsterClassId)[0]"
          ></monster-name>
          <monster-cell
            *ngFor="let monster of enemiesByClass.get(monsterClassId)"
            [figure]="monster"
          >
          </monster-cell>
        </div>
        <ng-container *ngFor="let bossClassId of bossClassList">
          <div class="col" *ngFor="let boss of enemiesByClass.get(bossClassId)">
            <app-boss-cell [boss]="boss"></app-boss-cell>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-element-tracker
    class="element-tracker-wrapper"
    direction="vert"
    [elementGapPx]="10"
    [elementSizePx]="70"
    stateConfig="allStates"
  ></app-element-tracker>
</main>
