.monster-name-wrapper {
  display: flex;
  font-family: "Pirata One";
  font-size: 30pt;
  justify-content: center;
}

app-enemy-image {
  align-self: center;
  height: 80px;
  width: 80px;
}

.monster-name {
  align-self: center;
  min-width: 200px;
  padding-left: 10px;
}
