<div
  class="monster-cell-wrapper"
  [class.elite]="monster && monster.isElite()"
  [class.dead]="figure.isDead()"
>
  <div class="monster-name">
    <div class="monster-number" *ngIf="monster">
      <span>{{ figure.tokenNum }}</span>
    </div>
    <div class="summon-name" *ngIf="figure.isSummon()">
      <app-enemy-image [classId]="figure.classId"></app-enemy-image>
      <div class="summon-token" *ngIf="figure.tokenNum">
        {{ figure.tokenNum }}
      </div>
    </div>
    <div class="objective-name" *ngIf="figure.isScenarioObjective()">
      {{ figure.displayName }}&nbsp;
    </div>
    <div
      class="character-icon {{ figure.classId }}"
      *ngIf="figure.isCharacter()"
    ></div>
  </div>
  <div class="monster-info" *ngIf="!figure.isDead()">
    <div class="monster-health">
      <app-progress-bar [figure]="figure"></app-progress-bar>
    </div>
    <div class="monster-status" *ngFor="let status of figure.getStatuses()">
      <img src="{{ status.getImgPath() }}" class="monster-status-icon" />
      <span class="monster-status-text">{{ status.displayName }}</span>
    </div>
  </div>
  <div class="monster-info" *ngIf="figure.isDead()">Defeated!</div>
</div>
