/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

/** Role colors have to be included globally. */
@import "src/app/css/roles.scss";

html,
body {
  margin: 0;
  padding: 0;

  // Disable extra scrolling.
  overscroll-behavior: none;
}

html {
  height: 100%;
  height: -webkit-fill-available;
}
body {
  // Mobile safari scrolling fix.
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@font-face {
  font-family: "Pirata One";
  src: url("/assets/fonts/PirataOne-Gloomhaven.ttf");
}

@font-face {
  font-family: "Nyala";
  src: url("/assets/fonts/nyala.ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
