<div class="element-tracker-wrapper">
  <app-element-tracker-cell
    element="earth"
    class="earth"
    [elementState]="0"
  ></app-element-tracker-cell>
  <app-element-tracker-cell
    element="water"
    class="water"
    [elementState]="1"
  ></app-element-tracker-cell>
  <app-element-tracker-cell
    element="wind"
    class="wind"
    [elementState]="2"
  ></app-element-tracker-cell>
  <app-element-tracker-cell
    element="fire"
    class="fire"
  ></app-element-tracker-cell>
  <app-element-tracker-cell
    element="light"
    class="light"
  ></app-element-tracker-cell>
  <app-element-tracker-cell
    element="dark"
    class="dark"
  ></app-element-tracker-cell>
</div>
